<!doctype html>
<html ng-app="MainApp">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>

    <script src='../script/services.js'></script>
    <script src='../script/controllers.js'></script>
    <script src='../script/app.js'></script>


</head>
<body>
<div class="container" align="left">
    <h1>Users</h1>
    <div ng-view></div>
</div>
</body>
</html>
